<footer class="container" style="width: 800px">
    <ul class="bs-docs-footer-links muted center">
        <li>Version: 0.1.0</li>
        <li>·</li>
        <li><a href="https://github.com/enisher/summarly">GitHub</a></li>
        <li>·</li>
        <li><a href="/examples">Examples</a></li>
        <li>·</li>
        <li><a href="/about">About</a></li>
        <li>·</li>
        <li><a href="https://github.com/enisher/summarly/issues?state=open">Issues</a></li>
        <li>·</li>
        <li><a href="https://github.com/enisher/summarly/releases">Releases</a></li>
    </ul>
</footer>
