body{

}
.article{
    max-width: 700px;
    font-family: 'Sentinel SSm A', 'Sentinel SSm B', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 21px;
    margin: 0 auto;
    word-break: break-word;
    text-align: justify;
    padding: 10px 0;
}