<!DOCTYPE html>
<html>

<head>
    <title>Summarly</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/docs.min.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/application.js}"></script>
</head>
<body>

<div class="container summarly-header">

    <div class="jumbotron" style="width: 800px">
        <div class="intro row-fluid">
            <h1 id="summaryHeading">Summarly</h1>
        </div>

        <form class="form-inline" action="/summary" id="summarizeForm" method="get" role="form">
            <div class="form-group">
                <input style="width: 550px" class="form-control input-lg" type="text" name="url"
                       placeholder="Provide link to article..."/>
            </div>

            <button type="submit" class="btn btn-success btn-lg">Summarize</button>
        </form>


    </div>

    <div class="container" style="width: 800px;">
        <div class="brief bs-docs-featurette">
            <div class="row">
                <div class="col-sm-3">
                    <img th:src="@{/img/comp.png}" alt="Clean Style" class="img-responsive brief-icon"/>

                    <h3>Clean Style</h3>

                    <p>We provide simple UI everyone can easily understand.</p>
                </div>
                <div class="col-sm-3">
                    <div class="row center-block">
                        <img th:src="@{/img/excl-man.png}" alt="Important Info" class="img-responsive brief-icon"/>
                    </div>
                    <h3>Only important information</h3>

                    <p>We cut all unimportant information out from the article</p>
                </div>
                <div class="col-sm-3">
                    <img th:src="@{/img/beauty-sun.png}" alt="No Ads" class="img-responsive brief-icon"/>

                    <h3>Ads free</h3>

                    <p>No advertisements. Forever. Please, donate! :D</p>
                </div>
                <div class="col-sm-3">
                    <img th:src="@{/img/rus-bear.png}" alt="Russian Support" class="img-responsive brief-icon"/>

                    <h3>Ukrainian and Russian Support</h3>

                    <p>We do support Ukrainian and Russian languages!</p>
                </div>
            </div>
        </div>
    </div>

    <div th:include="fragments/footer"></div>
</div>

</body>
</html>
