<!DOCTYPE html>
<html>

<head>
    <title>Summarly</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/application.js}"></script>
</head>
<body>
<!-- Header -->
<div class="container">
    <div class="hero-unit">
        <h1>Summarly Test Page</h1>

        <p>
            Insert URL to article page or text itself.
        </p>

        <p id="response">

        </p>

        <div class="form">

            <label class="radio">
                <input type="radio" name="summarizeType" value="url" checked="checked"/>
                By Url
            </label>

            <label class="radio">
                <input type="radio" name="summarizeType" value="text"/>
                By Text
            </label>


            <form id="summarizeForm">
                <fieldset>
                    <div class="control-group" id="textData">
                        <label class="control-label">Article:</label>

                        <div class="controls">
                            <textarea name="text" placeholder="Insert article here"></textarea>
                        </div>
                    </div>

                    <div class="control-group" id="urlData" style="display: none">
                        <label class="control-label">URL:</label>

                        <input type="text" name="url"/>
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('input[name=summarizeType]').on('change', function (e) {
            switchSummarizeType($(this).val());
        });

        switchSummarizeType("url");

        $('#summarizeForm').on('submit', function (e) {
            e.preventDefault();
            if ($('input[name=summarizeType]:checked').val() == 'url') {
                $.ajax({
                    url: '/summary',
                    type: 'get',
                    data: { url: $('input[name=url]').val() },
                    success: function (htmlData) {
                        $('#response').html(htmlData);
                    }
                })
            } else {
                $.ajax({
                    url: '/summary',
                    type: 'post',
                    data: { text: $('textarea[name=text]').val() },
                    success: function (htmlData) {
                        $('#response').html(htmlData);
                    }
                })
            }
        });

        function switchSummarizeType(summarizeType) {
            if (summarizeType == 'url') {
                $('#textData').hide();
                $('#urlData').show();
            } else {
                $('#textData').show();
                $('#urlData').hide();
            }
        }
    });
</script>
</body>
</html>
